*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

:root{
    --primary-red: hsl(0, 100%, 67%);
    --primary-yellow: hsl(39, 100%, 56%);
    --primary-teal: hsl(166, 100%, 37%);
    --primary-blue: hsl(234, 85%, 45%);

    --gradients-blue: hsl(252, 100%, 67%);
    --gradients-royal-blue: hsl(241, 81%, 54%);
    --gradients-violet: hsla(256, 72%, 46%, 1);
    --gradients-persian: hsla(241, 72%, 46%, 0);

    --neutral-white:hsl(0, 0%, 100%);
    --neutral-pale: hsl(221, 100%, 96%);
    --neutral-lavender:241, 100%, 89%;
    --neutral-gray: 224, 30%, 27%;
}

body{
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;

}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}

.content-section {
  background: var(--neutral-white);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 5px 10px hsl(var(--neutral-gray),0.1);
  box-shadow: 0px 5px 20px hsl(var(--neutral-gray),0.4);
  border-radius: 25px;
  width: 740px;
}

.result-section, .summary-section {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    padding: 40px;
}

.result-section {
  background: -webkit-gradient(linear, left bottom, left top, from(var(--gradients-royal-blue)), to(var(--gradients-blue)));
  background: -o-linear-gradient(bottom, var(--gradients-royal-blue), var(--gradients-blue));
  background: linear-gradient(0deg, var(--gradients-royal-blue), var(--gradients-blue));
  border-radius: 25px;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  color:hsl(var(--neutral-lavender),1)
}

.result-score {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  background: -webkit-gradient(linear, left bottom, left top, from(var(--gradients-persian)), to(var(--gradients-violet)));
  background: -o-linear-gradient(bottom, var(--gradients-persian), var(--gradients-violet));
  background: linear-gradient(0deg, var(--gradients-persian), var(--gradients-violet));
  color:hsl(var(--neutral-lavender),0.6);
}

.result-score span {
  font-size: 68px;
  color: var(--neutral-white);
  font-weight: 800;
}

.result-rank {
  color: var(--neutral-pale);
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 15px;
}

.result-info {
  color: hsl(var(--neutral-lavender),0.7);
  font-weight: 500;
  letter-spacing: 1px;
}

.summary-section .section-title {
  color: hsl(var(--neutral-gray),1);
}

.summary-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.summary-heading {
  display: flex;
  gap: 10px;
}

.summary-item-title.red{
  color: var(--primary-red);
}

.summary-item-title.yellow{
  color: var(--primary-yellow);
}

.summary-item-title.teal{
  color: var(--primary-teal);
}

.summary-item-title.blue{
  color: var(--primary-blue);
}

.summary-score {
    font-weight: 600;
    color: hsl(var(--neutral-gray),0.5);
}

.summary-score  span {
  color: hsl(var(--neutral-gray),1);
}

.btn-continue {
  background-color: hsla(var(--neutral-gray),1);
  border: none;
  border-radius: 30px;
  padding: 16px 12px;
  color: var(--neutral-white);
  cursor: pointer;
}

@media only screen and (max-width:740px) {
  .content-section {
    display: flex;
    flex-direction: column;
    width: 375px;
    border-radius: 0;
    box-shadow: none;
  }

  .result-section {
    border-radius: 0px 0px 25px 25px;
  }

  .summary-section {
    gap: 40px;
}

}